<section class="py-3 mt-5">
<div class="container px-5 my-2"> 


<div class="container" >
  <div class="row ">
    <div class="col-auto align-items-center">

      <div class="input-group mb-3">
        <%= label(:category_filter, "Categories", class: "input-group-text") %>  
        <%= select_tag "category_filter", options_from_collection_for_select(categories, "id", "name", selected: category_id), include_blank: "All", class: "category-filter form-select" %>         
      </div>   

    </div>  
  </div>
</div>


<div id="movies_tabs"> 
  <%= render "movies_tabs", movies: movies, category_id: category_id %>
</div>
<%= render "shared/modal_rating_movie" %>

<script>
  $( document ).ready(function(){
    $('.category-filter').on('change', function(){
      $.ajax({
          url: 'movies',
          type: 'GET',
          dataType: 'script',
          data: { category_id: $(this).val() }
      });
    });
  });
</script>
