
<section class="py-3 mt-5">
<div class="container px-5 my-2"> 


<div class="container" >
  <div class="row ">
    <div class="col-auto align-items-center">

      <div class="input-group mb-3">
        <%= label(:category_filter, "Categories", class: "input-group-text") %>  
        <%= select_tag "category_filter", options_from_collection_for_select(categories, "id", "name", selected: category_id), include_blank: "All", class: "category-filter form-select" %>         
      </div>   

    </div>  
  </div>
</div>

<div id="movies_tabs"> 
  <%= render "movies_tabs", movies: movies, category_id: category_id %>
</div>

<%= render "shared/modal_rating_movie" %>



<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary send">Send message</button>
      </div>
    </div>
  </div>
</div>



<a href="#" id="Super">Super!</a>
    </div>
  </div>    
</section>  
    
    <script>
$( document ).ready(function()
{
     // Пишем свой обработчик нажатия на ссылку
     $("#Super").click( function(event)
     {
          // видим сообщение "Hello"
          alert("Hello");

          // удаляем стандартный обработчик открытия ссылки (то есть ссылка не открывается)
          event.preventDefault();
     });

      $('.category-filter').on('change', function(){
        $.ajax({
            url: 'movies',
            type: 'GET',
            dataType: 'script',
            data: { category_id: $(this).val() }
        });
    });
    


});


    </script>
