   
<!-- Modal -->
<div class="modal fade" id="exampleModal0202" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header shadow">
        <h5 class="modal-title" id="exampleModalLabel review-count"> Ratings <span class="ratings-count">6</span> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <div class="height-100 container d-flex justify-content-center align-items-center">
          <div class="ratings row gx-2 ">
              <div id="rating-value-1" class="col"><i class="fa-solid fa-star "></i></div>
              <div id="rating-value-2" class="col"><i class="fa-solid fa-star "></i></div>
              <div id="rating-value-3" class="col"><i class="fa-solid fa-star "></i></div>
              <div id="rating-value-4" class="col"><i class="fa-solid fa-star "></i></div>
              <div id="rating-value-5" class="col"><i class="fa-solid fa-star "></i></div>
              <div id="rating-value-6" class="col"><i class="fa-solid fa-star "></i></div>
              <div id="rating-value-7" class="col"><i class="fa-regular fa-star "></i></div>
              <div id="rating-value-8" class="col"><i class="fa-regular fa-star "></i></div>
              <div id="rating-value-9" class="col"><i class="fa-regular fa-star "></i></div>
              <div id="rating-value-10" class="col"><i class="fa-regular fa-star "></i></div>         
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--/ Modal -->