   
<!-- Modal -->
<div class="modal fade" id="ratingsMovieModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header shadow">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <% if current_user.present? %>
        <%= form_for :rating, url: movie_ratings_path("movie_id"), remote: true, id: 'movie-rating'  do |f| %>

            <div class="height-100 container d-flex justify-content-center align-items-center">
              <div class="ratings row gx-2 ">
                  <%= f.text_field :score, id: "rating_score", class: "rating rating-loading rating-krajee-fas"  %>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
            <%= f.submit 'Rate!', id: 'rate', class: "btn btn-primary" %>
          </div>
        <% end %>
      <% else %>
        <p> Please authority before rate </p>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
            <%= link_to "Log in", new_user_session_path, class: "btn btn-primary"  %>
          </div>
      <% end %>

    </div>
  </div>
</div>
<!--/ Modal -->

<script>
  $("#rating_score").rating({
    glyphicon: true,
    stars: 10,
    min: 0,
    max: 10,
    step: 1,
    showClear: false,
    size: 's',
    showCaption: false
    });
</script>