
// here your custom bootstrap variables...
$primary: #BA5809;
$danger: #ff4136;
$dark: #41474a;

$input-group-addon-bg:                  $primary;
$input-group-addon-border-color:        $primary;

@import "bootstrap";

body,
html {
  height: 100%;
}

body{
    padding-top: 3rem;
    background-color: #15100A;
}

.input-group-text{
  color: white;
}

div.card{
  background-color:$dark;
  color: white;
  .card-body{
    cursor: context-menu;
    a {
      color: white;
      
    }
    a:hover {
      color: $primary
    }
  }
  .card-text-primary{
    color: $primary
  }
}

ul.movie-pagination {
  li.page-item {
    a.page-link:hover {
      background-color: $primary;
      color: white;
    }
  }
}
