
// here your custom bootstrap variables...
$primary: #BA5809;
$danger: #ff4136;
$dark: #41474a;

@import "bootstrap";



body,
html {
  height: 100%;
}

body{
    padding-top: 3rem;
    background-color: #15100A;
}

div.card{
  background-color:$dark;
  color: white;
  // .card-header{
  //   background-color:#81847d ;
  //   color: white;
  
  .card-body{
    cursor: context-menu;
    a {
      color: white;
      
    }
    a:hover {
      color: $primary
    }
  }
}

ul.movie-pagination {
  li.page-item {
    // background-color: $primary;
      a.page-link:hover {
        background-color: $primary;
        color: white;
      }
  }
}
